@import "_form-container.scss";
@import "_text-container.scss";

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
}

.main-wrapper {
  width: 97dvw;
  height: 97dvh;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.highlight-bkg {
  position: absolute;
  left: 0;

  width: 35%;
  height: 100%;
  background-color: rgb(14, 117, 83);
}

.login-container {
  display: grid;
  grid-template-columns: 33fr 67fr;
  gap: 1rem;

  width: 90rem;
  height: 60rem;
  //   background-color: sandybrown;
  z-index: 3;
  border-radius: 2rem;
  //   border-radius: 0 2rem 2rem 0;

  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.534),
    -8px 0 5px 1px rgba(0, 0, 0, 0.534), 0 5px 2px rgba(0, 0, 0, 0.534);
}
